<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Main -->
    <div class="flex flex-col flex-auto px-6 py-10 sm:px-16 sm:pt-18 sm:pb-20">

        <!-- Activity feed -->
        <div class="w-full text-center">

            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight leading-none">Crie seu anuncio de doação!</div>
            <div class="mt-1.5 text-lg text-secondary">Quanto mais completo seu anuncio estiver, mais fácil será a doação</div>

            <!-- Formulario -->
            <ng-container>
                <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12 mt-8">
                    <div class="w-full max-w-3xl">
                        <form>
                            <!-- Título -->
                            <div class="flex flex-auto items-end mt-4 px-64">
                                <input type="text" class="px-8 py-2 border border-gray-300 rounded" placeholder="Título do Anúncio">
                            </div>
                            <!-- Descrição -->
                            <div class="flex flex-auto items-end mt-4 px-64">
                                <input type="text" class="px-8 py-2 border border-gray-300 rounded" placeholder="Descrição do Anúncio">
                            </div>
                             <!-- Categorias -->
                             <div class="flex flex-auto items-end mt-4 px-64">
                                <input type="text" class="px-8 py-2 border border-gray-300 rounded" placeholder="Categoria do Anúncio">
                            </div>
                            <!-- Avatar -->
                            <div class="flex flex-auto items-end mt-4 px-30"> <!-- Adicione a classe "mt-4" aqui -->
                                <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden ring-4 ring-bg-card">
                                    <!-- Upload / Remove avatar -->
                                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">
                                        <div>
                                            <input class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file" [multiple]="false" [accept]="'image/jpeg, image/png'">
                                            <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="avatar-file-input" matRipple>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                        <div>
                                            <button mat-icon-button>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Image/Letter -->
                                    <img class="object-cover w-full h-full">
                                </div>
                            </div>
                            <!-- Avatar -->
                            <div class="flex flex-auto items-end mt-4 px-30"> <!-- Adicione a classe "mt-4" aqui -->
                                <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden ring-4 ring-bg-card">
                                    <!-- Upload / Remove avatar -->
                                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">
                                        <div>
                                            <input class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file" [multiple]="false" [accept]="'image/jpeg, image/png'">
                                            <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="avatar-file-input" matRipple>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                        <div>
                                            <button mat-icon-button>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Image/Letter -->
                                    <img class="object-cover w-full h-full">
                                </div>
                            </div>           
                            <!-- Avatar -->
                            <div class="flex flex-auto items-end mt-4 px-30"> <!-- Adicione a classe "mt-4" aqui -->
                                <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden ring-4 ring-bg-card">
                                    <!-- Upload / Remove avatar -->
                                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">
                                        <div>
                                            <input class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file" [multiple]="false" [accept]="'image/jpeg, image/png'">
                                            <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="avatar-file-input" matRipple>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                        <div>
                                            <button mat-icon-button>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Image/Letter -->
                                    <img class="object-cover w-full h-full">
                                </div>
                            </div>
                            <!-- Avatar -->
                            <div class="flex flex-auto items-end mt-4 px-3"> <!-- Adicione a classe "mt-4" aqui -->
                                <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden ring-4 ring-bg-card">
                                    <!-- Upload / Remove avatar -->
                                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">
                                        <div>
                                            <input class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file" [multiple]="false" [accept]="'image/jpeg, image/png'">
                                            <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="avatar-file-input" matRipple>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                        <div>
                                            <button mat-icon-button>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Image/Letter -->
                                    <img class="object-cover w-full h-full">
                                </div>
                            </div>             
                        </form>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

</div>
