<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-24 items-center">
                <img src="assets/images/logo/doeFacilLogo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Crie uma conta!</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Já tem uma conta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/pages/authentication/sign-in']">Entre aqui
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm">

                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nome completo</mat-label>
                    <input
                        id="nome"
                        matInput
                        [formControlName]="'nome'">
                    <mat-error *ngIf="signUpForm.get('nome').hasError('required')">
                        Nome completo é necessário
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        Email é necessário
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        Por favor entre com um email válido
                    </mat-error>
                </mat-form-field>

                <!-- Senha field -->
                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input
                        id="senha"
                        matInput
                        type="senha"
                        [formControlName]="'senha'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'senha' ? passwordField.type = 'text' : passwordField.type = 'senha'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'senha'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Senha é necessária
                    </mat-error>
                </mat-form-field>

                 <!-- CPF field -->
                 <mat-form-field class="w-full">
                    <mat-label>CPF</mat-label>
                    <input
                        id="cpf-confirm"
                        matInput
                        [formControlName]="'cpf'">
                </mat-form-field>

                <!-- ToS and PP -->
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        class="-ml-2"
                        [color]="'primary'"
                        [formControlName]="'agreements'">
                        <span>Eu concordo com</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Termos
                        </a>
                        <span>e</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Política de Privacidade
                        </a>
                    </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Pronto!
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
</div>
