<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="assets/images/profile/cover.jpg"
                alt="Cover image">
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    src="assets/images/avatars/male-04.jpg"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{usuario.nome}}</div>
                <div class="text-secondary">{{usuario.cidade}}, {{usuario.pais}}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Menu -->
            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="font-medium"
                    [routerLink]="['./']">
                    Num. p/ doação
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Num doados
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Num recebidos
                </a>
            </div>

        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">

        <!-- Column -->
        <div class="hidden lg:flex flex-col items-start mr-8">
            <!-- About me -->
            <fuse-card class="flex flex-col max-w-80 w-full p-8">
                <div class="text-2xl font-semibold leading-tight">Sobre mim</div>
                <div class="mt-4">
                   {{usuario.bio}}
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span class="leading-none">{{usuario.cidade}}, {{usuario.pais}} </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                        <span class="leading-none">{{usuario.telefone}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <span class="leading-none">{{usuario.idade}}</span>
                    </div>
                </div>
                <a
                    class="px-6 mt-8"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['./']">
                    Veja mais
                </a>
            </fuse-card>

        </div>
        <!-- Column -->
        <div class="flex flex-col items-start">
            <fuse-card class="flex flex-col max-w-80 w-full p-8">
                <div class="text-2xl font-semibold leading-tight">Titulo Item</div>
                <div class="mt-4">
                    <img
                    class="h-40 lg:h-80"
                    src="assets/images/profile/sofa.jpg"
                   >                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span class="leading-none">Cidade</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <span class="leading-none">Categoria</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <span class="leading-none">Descricao</span>
                    </div>
                </div>
                <a
                    class="px-6 mt-8"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['./']">
                    See 
                </a>
            </fuse-card>
        </div>
       
      



    </div>

</div>
