<!-- Button -->
<button
    mat-icon-button
    [matMenuTriggerFor]="userActions">
    <span class="relative">
        <img
            class="w-7 h-7 rounded-full"
            *ngIf="showAvatar && user.avatar"
            [src]="user.avatar">
        <mat-icon
            *ngIf="!showAvatar || !user.avatar"
            [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    </span>
</button>

<!--verificar se ta realmente logado se nao tiver fazer outro menu-->
<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Signed in as</span>
            <span class="mt-1.5 text-md font-medium">{{user.email}}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item [routerLink]="'usuario/list'">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Perfil</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <!--verificar se ta realmente logado se nao tiver fazer outro menu-->
    <button mat-menu-item [routerLink]="'usuario/create'">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span>Criar uma conta</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item [routerLink]="'usuario/login'">
        <mat-icon [svgIcon]="'heroicons_outline:login'"></mat-icon>
        <span>Entrar</span>
    </button>
   
</mat-menu>


