<!-- Button -->
<button
    mat-icon-button
    [matMenuTriggerFor]="userActions">
        <img
            class="w-7 h-7 rounded-full"
            src="../../../../assets/images/avatars/brian-hughes.jpg">
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item [routerLink]="'/usuario/list/'+ id">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Perfil</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item [routerLink]="'/usuario/edit/'+ id">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Edit Perfil</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button
        mat-menu-item [routerLink]="'item/create/' + id">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span>Criar uma doação</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>

<!-- <mat-menu *ngIf="!isAuthenticated" [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item [routerLink]="'usuario/create'">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span>Criar uma conta</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item [routerLink]="'usuario/login'">
        <mat-icon [svgIcon]="'heroicons_outline:login'"></mat-icon>
        <span>Entrar</span>
    </button>
</mat-menu> -->