<div class="flex flex-col flex-auto min-w-0">

    <ng-container >

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12  ">
            <!-- Background -->
            <ng-container>
                <img class="absolute inset-0 object-cover w-full h-full" src="assets/images/profile/download.jpg">
            </ng-container>
        </div>

        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form >

                    <!-- Foto Perfil -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div class="relative flex items-center justify-center w-20 h-20 sm:w-32 sm:h-32 rounded-full overflow-hidden ring-4 ring-bg-card">                            <!-- Upload / Remove avatar -->
                            <div class="absolute inset-0 flex items-center justify-center z-20">
                                <div>
                                    <input id="foto" class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="file" [multiple]="false" [accept]="'image/jpeg, image/png'" 
                                        (change)="uploadAvatar(avatarFileInput.files)" #avatarFileInput>
                                    <label
                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                        for="avatar-file-input" matRipple>
                                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                    </label>
                                </div>
                                <div>
                                    <button
                                        mat-icon-button
                                        (click)="removeAvatar()">
                                        <mat-icon
                                            class="text-white"
                                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                          
                        </div>
                    </div>

                    <!-- Nome -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Nome</mat-label>
                            <mat-icon svgIcon="perm_identity"></mat-icon>
                            <input
                                matInput
                                id="username"
                                required
                                [(ngModel)]="usuario.username"
                                name="username"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Nome'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <div class="mt-8 flex">
                        <!-- Telefone -->
                        <div class="w-1/2">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Telefone</mat-label>
                                <mat-icon svgIcon="phone_iphone"></mat-icon>
                                <input matInput id="telefone" required [(ngModel)]="usuario.telefone" name="telefone" [autocomplete]="'off'" 
                                [spellcheck]="false" [placeholder]="'(99) 99999-9999'">
                            </mat-form-field>
                        </div>
                        

                        <!-- Data de Nascimento -->
                        <div class="w-1/2 pl-4">
                            <mat-form-field
                                class="w-full"
                                [subscriptSizing]="'dynamic'">
                                <mat-label>Data de nascimento</mat-label>
                                <mat-icon svgIcon="cake"></mat-icon>
                                <input
                                    matInput
                                    id="nascimento"
                                    required
                                    [matDatepicker]="birthdayDatepicker"
                                    [(ngModel)]="usuario.idade"
                                    name="nascimento"
                                    [autocomplete]="'off'"
                                    [spellcheck]="false"
                                    [placeholder]="'Nascimento'"
                                    [spellcheck]="false">
                                    <mat-datepicker-toggle
                                    matSuffix
                                    [for]="birthdayDatepicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #birthdayDatepicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mt-8 flex">
                        <!-- CPF -->
                        <div class="w-1/2">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>CPF</mat-label>
                                <mat-icon svgIcon="badge"></mat-icon>
                                <input matInput id="cpf" required [(ngModel)]="usuario.cpf" name="cpf" [autocomplete]="'off'" [spellcheck]="false" [placeholder]="'000.000.000-00'" [spellcheck]="false" class="border rounded p-2">
                            </mat-form-field>
                        </div>
                    
                        <!-- Sexo -->
                        <div class="w-1/2 pl-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Sexo</mat-label>
                                <mat-icon svgIcon="wc"></mat-icon>
                                <mat-select id="sexo" [(ngModel)]="usuario.sexo" name="sexo" [spellcheck]="false" >
                                    <mat-option value="masculino">Masculino</mat-option>
                                    <mat-option value="feminino">Feminino</mat-option>
                                    <mat-option value="outro">Outro</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>             
                
                    <!-- Bio -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Bio</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            <textarea
                                matInput
                                [rows]="5"
                                id="bio"
                                required
                                [(ngModel)]="usuario.bio"
                                name="bio"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Bio'"
                                [spellcheck]="false"
                                cdkTextareaAutosize>   
                            </textarea>
                        </mat-form-field>
                    </div>

                    <div class="mt-8 flex">
                        <!-- Rua -->
                        <div class="w-3/4"> 
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Rua</mat-label>
                                <mat-icon svgIcon="add_location"></mat-icon>
                                <input matInput id="rua" required [(ngModel)]="usuario.rua" name="rua" [autocomplete]="'off'" [spellcheck]="false" [placeholder]="'Rua'" [spellcheck]="false">
                            </mat-form-field>
                        </div>
                    
                        <!-- Numero -->
                        <div class="w-1/4 pl-3"> 
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Número</mat-label>
                                <mat-icon svgIcon="add_location"></mat-icon>
                                <input matInput id="numero" required [(ngModel)]="usuario.numero" name="numero" [autocomplete]="'off'" [spellcheck]="false" [placeholder]="'Número'" [spellcheck]="false">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mt-8 flex">
                        <!-- CEP -->
                        <div class="w-1/2">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>CEP</mat-label>
                                <mat-icon svgIcon="add_location"></mat-icon>
                                <input matInput id="cep" required [(ngModel)]="usuario.cep" name="cep" [autocomplete]="'off'" [spellcheck]="false" [placeholder]="'CEP'" [spellcheck]="false" class="border rounded p-2 focus:outline-none focus:ring focus:border-blue-500">
                            </mat-form-field>
                        </div>
                    
                        <!-- Estado -->
                        <div class="w-1/2 pl-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Estado</mat-label>
                                <mat-icon svgIcon="add_location"></mat-icon>
                                <mat-select id="estado" [(ngModel)]="usuario.estado" name="estado" [spellcheck]="false" (selectionChange)="estadoSelecionado()">
                                  <mat-option *ngFor="let estado of estadosECidades" [value]="estado.estado">{{ estado.estado }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                      
                    </div>

                    <div class="mt-8 flex">
                        <!-- Cidade -->
                        <div class="w-1/2">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Cidade</mat-label>
                                <mat-icon svgIcon="add_location"></mat-icon>
                                <mat-select id="cidade" [(ngModel)]="usuario.cidade" name="cidade" [spellcheck]="false">
                                  <mat-option *ngFor="let cidade of cidadesSelecionadas" [value]="cidade">{{ cidade }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>

                        <!-- Logradouro -->
                        <div class="w-1/2 pl-4">
                            <mat-form-field
                                class="w-full"
                                [subscriptSizing]="'dynamic'">
                                <mat-label>Logradouro</mat-label>
                                <mat-icon svgIcon="add_location"></mat-icon>
                                <input matInput id="logradouro" required [(ngModel)]="usuario.logradouro" name="logradouro"
                                    [autocomplete]="'off'" [spellcheck]="false"  [placeholder]="'Logradouro'" [spellcheck]="false">
                            </mat-form-field>
                        </div>
                    </div>
                    

                    <!-- Actions -->
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Delete'"
                            *ngIf="edit"
                            (click)="delete()"
                            >
                            Delete
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancel'"
                            >
                            Cancel
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="submit()"
                            [matTooltip]="'Save'"
                           >
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>

</div>
