<div class="flex flex-col flex-auto min-w-0">

    <ng-container >

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container >
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                   >
            </ng-container>
           
        </div>

        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form >

                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <!-- Upload / Remove avatar -->
                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                            <div class="absolute inset-0 flex items-center justify-center z-20">
                                <div>
                                    <input
                                        id="avatar-file-input"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="file"
                                        [multiple]="false"
                                        [accept]="'image/jpeg, image/png'"
                                       
                                        #avatarFileInput>
                                    <label
                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                        for="avatar-file-input"
                                        matRipple>
                                        <mat-icon
                                            class="text-white"
                                            ></mat-icon>
                                    </label>
                                </div>
                                <div>
                                    <button
                                        mat-icon-button
                                        >
                                        <mat-icon
                                            class="text-white"
                                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <!-- Nome -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Nome</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="nome"
                                required
                                [(ngModel)]="usuario.nome"
                                name="nome"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Nome'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Email -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Email</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="email"
                                required
                                [(ngModel)]="usuario.email"
                                name="email"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Email'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                     <!-- Senha -->
                     <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Senha</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="senha"
                                required
                                [(ngModel)]="usuario.senha"
                                name="senha"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Senha'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                     <!-- Telefone -->
                     <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Telefone</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="telefone"
                                required
                                [(ngModel)]="usuario.telefone"
                                name="telefone"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Telefone'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Data de Nascimento -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Idade</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="nascimento"
                                required
                                [(ngModel)]="usuario.idade"
                                name="nascimento"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Nascimento'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Foto -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Foto</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="foto"
                                required
                                [(ngModel)]="usuario.foto"
                                name="foto"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Foto'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Bio -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Bio</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="bio"
                                required
                                [(ngModel)]="usuario.bio"
                                name="bio"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Bio'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- cpf -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>CPF</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="cpf"
                                required
                                [(ngModel)]="usuario.cpf"
                                name="cpf"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'CPF'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Sexo -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Sexo</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="sexo"
                                required
                                [(ngModel)]="usuario.sexo"
                                name="sexo"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Sexo'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Rua -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Rua</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="rua"
                                required
                                [(ngModel)]="usuario.rua"
                                name="rua"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Rua'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Numero -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Numero</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="numero"
                                required
                                [(ngModel)]="usuario.numero"
                                name="numero"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Numero'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Cep -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Cep</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="cep"
                                required
                                [(ngModel)]="usuario.cep"
                                name="cep"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'CEP'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Cidade -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Cidade</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="cidade"
                                required
                                [(ngModel)]="usuario.cidade"
                                name="cidade"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Cidade'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Estado -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Estado</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="estado"
                                required
                                [(ngModel)]="usuario.estado"
                                name="estado"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Estado'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Pais -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Pais</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="pais"
                                required
                                [(ngModel)]="usuario.pais"
                                name="pais"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Pais'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Logradouro -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Logradouro</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="logradouro"
                                required
                                [(ngModel)]="usuario.logradouro"
                                name="logradouro"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Logradouro'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                     <!-- Nota -->
                     <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Nota</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="nota"
                                required
                                [(ngModel)]="usuario.nota"
                                name="nota"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'Nota'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                     <!-- Count -->
                     <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Count</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                id="countAvaliacao"
                                required
                                [(ngModel)]="usuario.countAvaliacao"
                                name="countAvaliacao"
                                [autocomplete]="'off'"
                                [spellcheck]="false"
                                [placeholder]="'countAvaliacao'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>
                   

                    <!-- Actions -->
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Delete'"
                            *ngIf="edit"
                            (click)="delete()"
                            >
                            Delete
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancel'"
                            >
                            Cancel
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="submit()"
                            [matTooltip]="'Save'"
                           >
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>

</div>
