<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filters -->
            <div class="flex flex-col-reverse sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field class="fuse-mat-rounded w-full sm:w-50" [subscriptSizing]="'dynamic'">
                  <mat-select [value]="'all'" class="fuse-mat-rounded">
                    <mat-option [value]="'all'">All</mat-option>
                    <ng-container>
                      <mat-option>cidades</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
            </div>

            <!-- Items -->
            <ng-container>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                    <ng-container >
                        <!-- fazer ng for-->
                        <ng-container *ngFor="let item of itensCollection">
                            <!-- iTEM -->
                            <div class="flex flex-col items-start">
                                <fuse-card class="flex flex-col" style="width: 210px;">
                                    <div class="items-center">
                                        <img class="classimg" [src]="'assets/images/itens/'+ item.fotos + '.jpg'" style="border-radius: 10px;">                                    </div>
                                    <div class="flex flex-col">
                                       <!-- <div class="flex items-center mt-4">
                                            <div class="user-icon">
                                              <img src="assets/images/avatars/female-01.jpg">
                                            </div>
                                            <span class="leading-none ml-3">item.user</span>
                                        </div>-->
                                        <div class="flex items-center mt-4">
                                            <mat-icon class="icon-size-5 mr-3 text-orange-500" [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                                            <span class="leading-none text-orange-500">{{item.titulo}}</span>
                                        </div>
                                        <div class="flex items-center mt-4">
                                            <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                                            <span class="leading-none">{{item.categoria}}</span>
                                        </div>
                                        <div class="flex items-center mt-4">
                                            <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                                            <span class="leading-none">{{item.motivo}}</span>
                                        </div>
                                       
                                    </div>  
                                    <button class="mt-4 w-full" mat-button  [color]="'primary'" (click)="pedidoDeDoacao(item)">Pedir Doação</button>
                                </fuse-card>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

         
        </div>

    </div>

</div>
